In [1]:
import pandas as pd
import sqlite3

def carregar_dados():
    conn = sqlite3.connect('/home/selaranjeira/Desktop/loc_proj/desemp_esportivo/data/runningDB.sqlite3')
    df = pd.read_sql_query("SELECT * FROM running_data", conn)
    conn.close()
    df['data'] = pd.to_datetime(df['data'])
    df['quilometragem'] = df['quilometragem'].astype(float)
    return df

In [3]:
df = carregar_dados()

In [4]:
df

         data  quilometragem  tempo_min  calorias dia_semana
0  2024-06-01            0.0          0         0   Saturday
1  2024-06-02            0.0          0         0     Sunday
2  2024-06-03            0.0          0         0     Monday
3  2024-06-04            0.0          0         0    Tuesday
4  2024-06-05            0.0          0         0  Wednesday
..        ...            ...        ...       ...        ...
88 2024-08-27            0.0          0         0    Tuesday
89 2024-08-28            0.0          0         0  Wednesday
90 2024-08-29            0.0          0         0   Thursday
91 2024-08-30            0.0          0         0     Friday
92 2024-08-31            0.0          0         0   Saturday

[93 rows x 5 columns]

In [5]:
import pandas as pd
import sqlite3

def carregar_dados():
    # Conectar ao banco de dados
    conn = sqlite3.connect('/home/selaranjeira/Desktop/loc_proj/desemp_esportivo/data/runningDB.sqlite3')
    
    # Verificar a conexão e a existência da tabela
    query_tables = "SELECT name FROM sqlite_master WHERE type='table';"
    tables = pd.read_sql_query(query_tables, conn)
    print("Tabelas no banco de dados:", tables)

    # Carregar os dados da tabela running_data
    try:
        df = pd.read_sql_query("SELECT * FROM running_data", conn)
        print("Dados carregados do banco de dados:")
        print(df.head())  # Mostra as primeiras linhas do DataFrame

        # Fechar a conexão
        conn.close()

        # Processar os dados
        df['data'] = pd.to_datetime(df['data'])
        df['quilometragem'] = df['quilometragem'].astype(float)
        return df
    except Exception as e:
        print("Erro ao carregar os dados:", e)
        conn.close()
        return pd.DataFrame()  # Retornar um DataFrame vazio em caso de erro

# Testar a função
df = carregar_dados()
print(df.head())

Tabelas no banco de dados:            name
0  running_data
Dados carregados do banco de dados:
                  data  quilometragem  tempo_min  calorias dia_semana
0  2024-06-01 00:00:00            0.0          0         0   Saturday
1  2024-06-02 00:00:00            0.0          0         0     Sunday
2  2024-06-03 00:00:00            0.0          0         0     Monday
3  2024-06-04 00:00:00            0.0          0         0    Tuesday
4  2024-06-05 00:00:00            0.0          0         0  Wednesday
        data  quilometragem  tempo_min  calorias dia_semana
0 2024-06-01            0.0          0         0   Saturday
1 2024-06-02            0.0          0         0     Sunday
2 2024-06-03            0.0          0         0     Monday
3 2024-06-04            0.0          0         0    Tuesday
4 2024-06-05            0.0          0         0  Wednesday

In [7]:
import sqlite3

conn = sqlite3.connect('/home/selaranjeira/Desktop/loc_proj/desemp_esportivo/data/runningDB.sqlite3')
query = "SELECT * FROM running_data LIMIT 15;"
df_test = pd.read_sql_query(query, conn)
print(df_test)
conn.close()

                   data  quilometragem  tempo_min  calorias dia_semana
0   2024-06-01 00:00:00            0.0          0         0   Saturday
1   2024-06-02 00:00:00            0.0          0         0     Sunday
2   2024-06-03 00:00:00            0.0          0         0     Monday
3   2024-06-04 00:00:00            0.0          0         0    Tuesday
4   2024-06-05 00:00:00            0.0          0         0  Wednesday
5   2024-06-06 00:00:00            0.0          0         0   Thursday
6   2024-06-07 00:00:00            0.0          0         0     Friday
7   2023-06-08 00:00:00            0.0          0         0   Thursday
8   2024-06-08 00:00:00            0.0          0         0   Saturday
9   2024-06-09 00:00:00            0.0          0         0     Sunday
10  2024-06-10 00:00:00            4.5         40       294     Monday
11  2024-06-11 00:00:00            5.0         45       329    Tuesday
12  2024-06-12 00:00:00            4.7         40       311  Wednesday
13  2024-06-13 00:00:00            5.1         45       329   Thursday
14  2024-06-14 00:00:00            0.0          0         0     Friday

In [8]:
media_calorias_por_minuto = (df_test['calorias'] / df_test['tempo_min']).mean()

In [9]:
media_calorias_por_minuto

7.436805555555555

In [10]:
import pandas as pd
import sqlite3

def carregar_dados():
    conn = sqlite3.connect('/home/selaranjeira/Desktop/loc_proj/desemp_esportivo/data/runningDB.sqlite3')
    df = pd.read_sql_query("SELECT * FROM running_data", conn)
    conn.close()
    df['data'] = pd.to_datetime(df['data'])
    df['quilometragem'] = df['quilometragem'].astype(float)
    return df

def calcular_metricas(df):
    df['calorias_por_minuto'] = df['calorias'] / df['tempo_min']
    df['km_por_minuto'] = df['quilometragem'] / (df['tempo_min'] / 60)
    return df

df = carregar_dados()
df = calcular_metricas(df)
print("Colunas após calcular métricas:", df.columns)

Colunas após calcular métricas: Index(['data', 'quilometragem', 'tempo_min', 'calorias', 'dia_semana',
       'calorias_por_minuto', 'km_por_minuto'],
      dtype='object')

In [11]:
import pandas as pd
import sqlite3

def carregar_dados():
    conn = sqlite3.connect('/home/selaranjeira/Desktop/loc_proj/desemp_esportivo/data/runningDB.sqlite3')
    df = pd.read_sql_query("SELECT * FROM running_data", conn)
    conn.close()
    df['data'] = pd.to_datetime(df['data'])
    df['quilometragem'] = df['quilometragem'].astype(float)
    print("Colunas disponíveis no DataFrame:", df.columns)
    return df

def calcular_metricas(df):
    if 'calorias' in df.columns and 'tempo_min' in df.columns:
        df['calorias_por_minuto'] = df['calorias'] / df['tempo_min']
        df['km_por_minuto'] = df['quilometragem'] / (df['tempo_min'] / 60)
    else:
        print("Colunas necessárias não estão presentes no DataFrame")
    return df

df = carregar_dados()
df = calcular_metricas(df)
print("Colunas após calcular métricas:", df.columns)

Colunas disponíveis no DataFrame: Index(['data', 'quilometragem', 'tempo_min', 'calorias', 'dia_semana'], dtype='object')
Colunas após calcular métricas: Index(['data', 'quilometragem', 'tempo_min', 'calorias', 'dia_semana',
       'calorias_por_minuto', 'km_por_minuto'],
      dtype='object')